.logo {
  text-align: center;
}

/*
Only custom marker for summary/details.
For cross-browser compatible styling, hide Firefox's marker by setting summary { display: block }
and Chrome and Safari's marker by setting ::-webkit-details-marker { display: none; }
*/
/* summary {
  display: block;
  cursor: pointer;
  outline: 0;
} */
/* 상위 details 요소 아이콘 숨김 */
summary::before {
  display: none;
}

/* 하위 details 요소에서 원하는 스타일 적용 */
details details summary::before {
  display: block;
  cursor: pointer;
  outline: 0;
}
summary::-webkit-details-marker {
  display: none;
}

body {
  background-color: #191c1e;
  color: white;
  font-size: 1.6rem;
  font-family: arial;
  margin: 0;
  padding: 3rem;
}

.date-details {
  margin-left: 2rem; /* date-details 들여쓰기 설정 */
}

.filename-details {
  margin-left: 2rem; /* filename-details 들여쓰기 설정 */
}


.carname-item {
  display: block;
  white-space: nowrap;
  color: #ccc;
  position: relative;
}

.carname-item.is-expandable::before {
  border-left: 1px solid #333;
  content: "";
  height: 100%;
  left: 0.8rem;
  position: absolute;
  top: 2.4rem;
  height: calc(100% - 2.4rem);
}

.carname-item .carname-item {
  margin-left: 2.4rem;
}

.carname-item.is-expandable[open] > .filename-summary::before {
  font-family: "ionicons";
  transform: rotate(90deg);
}

.carname-item.is-expandable > .filename-summary {
  padding-left: 2.4rem;
}

.carname-item.is-expandable > .filename-summary::before {
  position: absolute;
  will-change: transform;
  transition: transform 300ms ease;
  font-family: "ionicons";
  color: #fff;
  font-size: 1.1rem;
  content: "\f125";
  left: 0;
  display: inline-block;
  width: 1.6rem;
  text-align: center;
}

.filename-summary {
  cursor: pointer;
  display: block;
  outline: 0;
  color: #fff;
  font-size: 1.5rem;
  line-height: 3.2rem;
}

.filename-summary .icon {
  display: inline;
  padding-left: 1.6rem;
  margin-right: 0.8rem;
  color: #666;
  font-size: 1.4rem;
  position: relative;
}

.filename-summary .icon::before {
  top: 0;
  position: absolute;
  left: 0;
  display: inline-block;
  width: 1.6rem;
  text-align: center;
}

.filename-summary::-webkit-details-marker {
  display: none;
}

.date-summary{
  line-height: 3.2rem;
}